version: "3.9"

services:
  django:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pet
    restart: unless-stopped
    env_file: .env
    ports:
      - "8811:8000"
    networks:
      - core_net

networks:
  core_net:
    external: true
