version: "3.9"

services:
  django:
    image: pet:latest
    container_name: pet_django_app
    restart: unless-stopped
    env_file: .env
    ports:
      - "8811:8811"
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    networks:
      - core_net
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  static_volume:
  media_volume:

networks:
  core_net:
    external: true
